/* Página Principal */
.usuarios-page {
    padding: 20px;
    background-color: #2d2d2d;
    color: #f5f5f5;
  }
  
  /* Cabeçalho */
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004d00;
    padding: 10px;
  }
  
  .page-header img {
    height: 50px;
  }
  
  .user-info {
    color: #f5f5f5;
    font-size: 18px;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  /* Título da Página e Botão de Adicionar Usuário */
  .page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .page-title h1 {
    font-size: 24px;
    color: #fff;
  }
  
  .add-user-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .add-user-button:hover {
    background-color: #0056b3;
  }
  
  /* Tabela de Usuários */
  .usuarios-table-container {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .usuarios-table th, .usuarios-table td {
    padding: 12px 15px;
    border: 1px solid #444444;
  }
  
  .usuarios-table thead tr {
    background-color: #444444;
    color: #ffffff;
  }
  
  .usuarios-table tbody tr:nth-child(even) {
    background-color: #3a3a3a;
  }
  
  .usuarios-table tbody tr:nth-child(odd) {
    background-color: #2d2d2d;
  }
  
  .usuarios-table tbody tr {
    transition: background-color 0.3s;
  }
  
  .usuarios-table tbody tr:hover {
    background-color: #555555;
  }
  
  .edit-button,
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .edit-button i {
    color: #007bff;
    font-size: 1.2em;
  }
  
  .delete-button i {
    color: #dc3545;
    font-size: 1.2em;
  }
  
  .edit-button:hover i {
    color: #0056b3;
  }
  
  .delete-button:hover i {
    color: #c82333;
  }
  
  /* Rodapé */
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding: 10px;
    margin-top: 30px;
    color: #ffffff;
  }
  
  .footer .developer img {
    height: 40px;
    margin-right: 10px;
  }
  
  .footer .developer {
    display: flex;
    align-items: center;
  }
  